---
import A from './mdx/a.astro';
import Blockquote from './mdx/blockquote.astro';
import Br from './mdx/br.astro';
import Del from './mdx/del.astro';
import Em from './mdx/em.astro';
import H1 from './mdx/h1.astro';
import H2 from './mdx/h2.astro';
import H3 from './mdx/h3.astro';
import H4 from './mdx/h4.astro';
import H5 from './mdx/h5.astro';
import H6 from './mdx/h6.astro';
import Hr from './mdx/hr.astro';
import I from './mdx/i.astro';
import Img from './mdx/img.astro';
import Input from './mdx/input.astro';
import Li from './mdx/li.astro';
import Notation from './mdx/notation.astro';
import Ol from './mdx/ol.astro';
import P from './mdx/p.astro';
import Strong from './mdx/strong.astro';
import Table from './mdx/table.astro';
import Tweet from './mdx/tweet.astro';
import Td from './mdx/td.astro';
import Th from './mdx/th.astro';
import Tr from './mdx/tr.astro';
import Ul from './mdx/ul.astro';

import DateTag from './DateTag.astro';

import '../styles/mdx.css';
import { render, type CollectionEntry } from 'astro:content';
type Props = { post: CollectionEntry<'blog'> };
const { post } = Astro.props;
const { Content } = await render(post);
---

<div class='flex flex-col gap-8 md:w-5/6 px-4 py-12 sm:px-8 mx-auto'>
  <div
    class='flex flex-col gap-6 items-center justify-center max-w-screen-sm mx-auto'
  >
    <h1
      id='header'
      class='text-4xl sm:text-5xl text-center font-title font-black dark:text-white'
    >
      {post.data.title}
    </h1>
    <div class='flex items-center justify-center gap-2'>
      <DateTag date={post.data.pubDate} />
    </div>
    <p class='text-lg text-center dark:text-white max-w-[576px]'>
      {post.data.description}
    </p>
  </div>
  <img
    src={post.data.heroImage}
    alt={post.data.title}
    class='w-full max-w-screen-md mx-auto rounded-lg aspect-video'
  />
</div>
<div
  class='relative flex flex-col gap-3 max-w-screen-md mx-auto px-4 sm:px-6 text-base sm:text-xl leading-relaxed dark:text-white dark:bg-[#171717]/90 rounded-lg'
>
  <Content
    components={{
      h1: H1,
      h2: H2,
      h3: H3,
      h4: H4,
      h5: H5,
      h6: H6,
      p: P,
      a: A,
      blockquote: Blockquote,
      img: Img,
      ul: Ul,
      ol: Ol,
      li: Li,
      input: Input,
      table: Table,
      tr: Tr,
      th: Th,
      td: Td,
      strong: Strong,
      em: Em,
      i: I,
      del: Del,
      hr: Hr,
      br: Br,
      // Custom Components
      Notation,
      N: Notation,
      Tweet,
    }}
  />
</div>
